@import "variables";
@import "nav";
@import "media";
@import "game";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: $primary-text;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: $primary-color;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin: 0 auto;
  width: 80vw;
  height: 75vh;
  box-shadow: white;
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 1);
  position: relative;
}
